<!-- Sleiman Safaoui
     July 13, 2017
   -->

<launch>

  <arg name="img_src" default="w"/>

  <node pkg="sphero_detector" type="modify_camera_param.py" name="modify_camera_parameters"></node>

  <node pkg="sphero_detector" type="cam_bridge.py" name="cam_bridge">
    <param name="img_src" value="$(arg img_src)"/>
  </node>

  <node pkg="sphero_detector" type="tagger" name="tagger">
    <rosparam command="load" file="$(find sphero_detector)/config/tag_param.yaml"/>
  </node>

  <node pkg="sphero_detector" type="sphero_detector_node" name="sphero_detector_node">
    <rosparam command="load" file="$(find sphero_detector)/config/detect_param.yaml"/>
  </node>

  <node pkg="sphero_detector" type="tracker.py" name="tracker">
    <rosparam command="load" file="$(find sphero_detector)/config/track_param.yaml"/>
  </node>

</launch>
