<launch>

   <!-- <rosparam command="load" file="$(find sphero_node)/config/sphero.yaml" /> -->
    <arg name="rgo" default="false"/>
    <arg name="ypp" default="true"/>
    <arg name="pob" default="false"/>
    <arg name="www" default="false"/>
    <arg name="rpg" default="false"/>
    <arg name="rwp" default="false"/>
    <arg name="wwb" default="false"/>
    <arg name="gbr" default="false"/>
    <arg name="gpb" default="false"/>
    <arg name="yyw" default="true"/>

   <group if="$(arg rgo)">
      <node pkg="sphero_node" type="sphero.py" name="sphero_rgo" ns="sphero_rgo" respawn="true">
          <param name="address"  value="68:86:E7:09:0B:77" />
          <param name="connect_red"  value="0" />
          <param name="connect_blue"  value="0" />
          <param name="connect_green"  value="255" />
      </node>
    </group>

  <group if="$(arg ypp)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_ypp" ns="sphero_ypp" respawn="true">
        <param name="address"  value="68:86:E7:09:08:E3" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg pob)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_pob" ns="sphero_pob" respawn="true">
        <param name="address"  value="68:86:E7:09:0D:DC" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="0" />
    </node>
  </group>

  <group if="$(arg www)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_www" ns="sphero_www" respawn="true">
        <param name="address"  value="68:86:E7:09:0A:D0" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="0" />
    </node>
  </group>

  <group if="$(arg rpg)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_rpg" ns="sphero_rpg" respawn="true">
        <param name="address"  value="68:86:E7:09:11:60" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg rwp)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_rwp" ns="sphero_rwp" respawn="true">
        <param name="address"  value="68:86:E7:09:21:1B" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg wwb)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_wwb" ns="sphero_wwb" respawn="true">
        <param name="address"  value="68:86:E7:09:11:C4" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg gbr)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_gbr" ns="sphero_gbr" respawn="true">
        <param name="address"  value="68:86:E7:09:0A:12" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

  <group if="$(arg gpb)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_gpb" ns="sphero_gpb" respawn="true">
        <param name="address"  value="68:86:E7:09:11:C4" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="0" />
    </node>
  </group>

  <group if="$(arg yyw)">
    <node pkg="sphero_node" type="sphero.py" name="sphero_yyw" ns="sphero_yyw" respawn="true">
        <param name="address"  value="68:86:E7:09:07:72" />
        <param name="connect_red"  value="255" />
        <param name="connect_blue"  value="255" />
        <param name="connect_green"  value="255" />
    </node>
  </group>

    <node pkg="sphero_node" type="sphero_test.py" name="sphero_control">
        <param name="num_spheros"  value="2" />
    </node>

    <node pkg="joy" type="joy_node" name="joy"/>

</launch>


<!--  Currently system paired robots
[sphero_gpb/sphero_www-10] killing on exit
[sphero_gbr/sphero_gbr-9] killing on exit
[sphero_rwp/sphero_rwp-7] killing on exit
[sphero_wwb/sphero_wwb-8] killing on exit
[sphero_rpg/sphero_rpg-6] killing on exit
[sphero_www/sphero_www-5] killing on exit
[sphero_pob/sphero_pob-4] killing on exit
[sphero_ypp/sphero_ypp-3] killing on exit


-->
